﻿<section>
	<div class="container-fluid ">
		&nbsp;
		<div class="panel panel-info">
			<div class="panel-heading">
				RPS Policy
			</div>
			<div class="panel-body">
				<div class="alert alert-info" *ngIf="showMessage">{{message}}</div>
				<form [formGroup]="form" (ngSubmit)="save(form)">
					<div class="form-group">
						<input type="hidden" formControlName="id" />
						<div class="row">
							<div class="form-group col-md-2 col-sm-12">
								<label for="policyNumber">Policy Number</label>
								<input type="text" formControlName="policyNumber" class="form-control" />
								<small *ngIf="!form.controls.policyNumber.valid" class="text-danger">
									Policy Number is required (minimum 4 characters).
								</small>
							</div>
							<div class="form-group col-md-3 col-sm-12">
								<label for="effectiveDate">Effective Date</label>
								<p-calendar formControlName="effectiveDate" class="form-control"></p-calendar>
								<small *ngIf="!form.controls.effectiveDate.valid" class="text-danger">
									Effective Date is required.
								</small>
							</div>
							<div class="form-group col-md-3 col-sm-12">
								<label for="expirationDate">Expiration Date</label>
								<p-calendar formControlName="expirationDate" class="form-control"></p-calendar>
								<small *ngIf="!form.controls.expirationDate.valid" class="text-danger">
									Expiration Date is required.
								</small>
							</div>
						</div>
					</div>
					<div formArrayName="insureds">
						<h4>People Insured</h4>
						<table class="table table-striped table-condensed table-hover" id="insuredTable">
							<thead>
								<tr>
									<th>Insured Name</th>
									<th>Is Primary?</th>
									<th>Mailing Address</th>
									<th>City</th>
									<th>State</th>
									<th>Zip Code</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let insured of form.controls.insureds.controls; let i=index" [formGroupName]="i" >
									<td>
										<input type="text" formControlName="insuredName" class="form-control" />
										<!--<small [hidden]="form.controls.insureds.controls[i].insuredName.valid" class="text-danger">
											Insured Name is required.
										</small>-->
									</td>
									<td>
										<input type="checkbox" formControlName="isPrimary" class="form-control" />
									</td>
									<td>
										<input type="text" formControlName="mailingAddress" class="form-control" />
									</td>
									<td>
										<input type="text" formControlName="city" class="form-control" />
									</td>
									<td>
										<input type="text" formControlName="state" class="form-control" />
									</td>
									<td>
										<input type="text" formControlName="zipCode" class="form-control" />
									</td>
									<td>
										<button type="button" class="btn btn-xs btn-default" (click)="removeInsured(i)">Delete</button>
										<input type="hidden" formControlName="id" />
									</td>
								</tr>
								<tr>
									<td colspan="7">
										<button type="button" class="btn btn-xs btn-primary" (click)="addInsured()">Add Insured</button>
									</td>
								</tr>								
							</tbody>
						</table>
						
					</div>
					<div formArrayName="risks">
						<h4>Risks</h4>
						<table class="table table-striped table-condensed table-hover" id="riskTable">
							<thead>
								<tr>
									<th>Construction Type</th>
									<th>Year Built</th>
									<th>Address</th>
									<th>City</th>
									<th>State</th>
									<th>Zip Code</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let risk of form.controls.risks.controls; let i=index" [formGroupName]="i">
									<td>
										<select formControlName="riskConstruction" class="form-control">
											<option *ngFor="let rc of riskSelections" [value]="rc">{{rc}}</option>
										</select>
										<!--<small [hidden]="!form.controls.risks.controls[i].riskConstruction.valid" class="text-danger">
											Construction Type is required.
										</small>-->
									</td>
									<td>
										<input type="text" formControlName="yearBuilt" class="form-control" />
									</td>
									<td>
										<input type="text" formControlName="address" class="form-control" />
									</td>
									<td>
										<input type="text" formControlName="city" class="form-control" />
									</td>
									<td>
										<input type="text" formControlName="state" class="form-control" />
									</td>
									<td>
										<input type="text" formControlName="zipCode" class="form-control" />
									</td>
									<td>
										<button type="button" class="btn btn-xs btn-default" (click)="removeRisk(i)">Delete</button>
										<input type="hidden" formControlName="id" />
									</td>
								</tr>
								<tr>
									<td colspan="6">
										<button type="button" class="btn btn-xs btn-primary" (click)="addRisk()">Add Risk</button>
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
					<div class="row">
						&nbsp;&nbsp;
						<div class="btn-group">
							<button type="submit" class="btn btn-info" [disabled]="!form.valid">Save</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</section>