﻿<div class="container-fluid ">&nbsp;
	<div class="panel panel-info">
		<div class="panel-heading">
			RPS Policies
		</div>
		<div class="panel-body">
			<input type="button" class="btn btn-default" value="Add Policy" (click)="addPolicy()" />
		</div>
		<div class="panel-body">
			<h4>Search For</h4>
			<label>Policy Number</label>
			<input type="text" id="policyNo" [(ngModel)]="policyNo" />
			<label>Insured Name</label>
			<input type="text" id="insuredName" [(ngModel)]="insuredName" />
			<input type="button" class="btn btn-info" value="Search Policies" (click)="getPolicies(policyNo, insuredName)" />
		</div>
		<div class="panel-body" *ngIf="model; else notFound">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Policy #</th>
						<th>Insured Name</th>
						<th>Effective Date</th>
						<th>Expiration Date</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of model">
						<td>{{item.policyNumber}}</td>
						<td>{{item.insureds[0].insuredName}}</td>
						<td>{{item.effectiveDate | date:"shortDate"}}</td>
						<td>{{item.expirationDate | date:"shortDate"}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<ng-template #notFound>
			<div class="alert alert-info">No Policies found.</div>
	</ng-template>
</div>