﻿body {
}

.ng-valid[required], .ng-valid.required {
	border-left: 5px solid #42A948; /* green */
}

input.ng-invalid:not(form) {
	border-left: 5px solid #a94442; /* red */
}

select.ng-invalid:not(form) {
	border-left: 5px solid #a94442; /* red */
}